<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h3>Steps to compute</h3>
    <ol>
        <li>Go to <a href="/calculate">click here</a> and give input in the input fields, Click on submit</li>
        <li>Want to get sum of inputs click on the link <a href="/add">Addition.url</a></li> 
        <li>Want to get difference of inputs click on the link <a href="/substract">Substraction.url</a></li> 
        <li>Want to get product of inputs click on the link <a href="/multiply">Multiplication.url</a></li> 
        <li>Want to get division of inputs click on the link <a href="/division">Division.url</a></li>    
    </ol>
</body>
</html>