<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="/info">
            <input type="text" name="num1" placeholder="enter input1"/>
            <input type="text" name="num2" placeholder="enter input2"/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>